<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="assets/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="assets/images/icon/mainlogo.svg" alt="noel">
                            </a>
                        </div>
                        <div class="login-form">
                            <form id="reg-form">
                                <div class="form-group">
                                    <label>Scan the Qr Code to activate your account</label> 
                                    <label id="error"></label>
                                    <input class="au-input au-input--full" type="number" id="token" name="code" placeholder="Enter your code"><br><br>
                                    <input class="au-btn au-btn--block au-btn--green m-b-20" type="submit" value="Submit">
                                    </div>
                                <!-- <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">submit</button> -->
                            </form>
                            <div class="register-link">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>




        const form = document.getElementById('reg-form')
form.addEventListener('submit', registerUser)
var error = document.getElementById('error')

// 1.send data as JSON (popular in node)
// 2.send data as url encoded (popular in php)
async function registerUser(event){
    event.preventDefault()
    const token = document.getElementById('token').value

    
    const result = await fetch('/api/2falogin', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            token
        })
    }).then((res) => res.json())
    
    if (result.status === 'verified') {
        //console.log(token)
        // everythign went fine
        document.cookie = "value=" + result.data;
        window.location.href = "http://localhost:3001/";
      //error.innerHTML = "<label class='alert alert-success' id='error' role='alert'>Token Verified!!</label>"
        //alert('Success')
    } if(result.status === 'no') {
        //
        error.innerHTML = "<label class='alert alert-danger' id='error' role='alert'>Enter the correct code</label>"
        //alert('wrong')
    }
}
    </script>
    
    <%- include('common/footer.ejs') %>